/****************************/
/******GENERAL***************/
/****************************/

body {
    background-color: #000;
    color: #fff;
    margin: 0;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
    font-family: 'Open Sans', sans-serif;
}


/****************************/
/****SUBREDDIT-BANNER********/
/****************************/

.subreddit-banner {
    /*background-color: rgb(30, 30, 30);*/
    text-align: center;
    background: linear-gradient(to top, rgba(0, 0, 0, .7),
                rgba(0, 0, 0, 0.1) 80%),
                rgb(40, 40, 40);
}

.sub a {
    color: #fff;
    font-weight: 100;
    font-size: .8em;
    padding: 0 5px;
    margin: 5px 0;
}

/****************************/
/******HEADER****************/
/****************************/
.header-container {
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    border-bottom: 1px solid #000;
    border-top: 1px solid #000;
    background-color: rgb(30, 30, 30);
    margin: 0;

}

h1 {
    letter-spacing: 1dpx;
}

nav, h1 {
    align-self: flex-end;
    margin: 0;
}



nav a {
    text-decoration: none;
    padding: 15px;
    margin: 0;
    color: #fff;
    transition: all 300ms ease-in-out;
    letter-spacing: 4px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.9);

}

a:hover {
    color: rgb(130, 130, 130);

}

.clicked a {
    color: rgb(130, 130, 130);
}


ul {
    list-style-type: none;
    display: flex;
    margin: 5px 0;
    text-transform: uppercase;
}



/****************************/
/******POST-CONTAINER********/
/****************************/

.post-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    padding-top: 60px;
    background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, 0.4) 3%), rgb(50, 50, 50);
    /*background-color: ;*/
}

.post {
    position: relative;
    text-align: center;
    color: #fff;
    flex: 1;
    display: flex;
    padding: 2.5px;
    width: 280px;
    height: 280px;



}

@media screen and (max-width: 550px) {
    .post {
        width: 300px;
        height: 300px;
    }
}

.post-image {
    width: 100%;
    background-size: cover;
    filter: brightness(70%);

}



.upper-text {
    position: absolute;
    top: 0;
    width: 100%;

}

.score {
    text-align: right;
    position: absolute;
    right: 10px;
    top: 10px;
}

.author {
    position: absolute;
    top: 10px;
    left: 10px;
    margin: 0;
}

.lower-text {
    position: absolute;
    bottom: 0;
    text-align: left;
    padding: 10px;
}

.title {
    font-size: 1.3em;
    text-align: left;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
}
